.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar_logo{
    color: red;
    background-color: lemonchiffon;
    height: 7rem;
    display: grid;
    place-items: center;
}
.navbar_logo>img{
    width: 500px;
    height: 80%;
    object-fit: contain;
}
.navbar_links{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #384A74;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navbar_links >a {
 text-decoration: none;
 color: white;
}
.navbar>hr{
    margin-top: 0.5rem;
    border-top: 5px solid #5E3729;
}